:root {
    /* --color-dark: #800020;
    --color-light: rgb(247, 186, 33); */
    --color-dark: black;
    --color-light: green;
    --color-contrast: rgb(123, 255, 0);

}

body {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right top, var(--color-dark), var(--color-light));
}

* {
    box-sizing: border-box;
}
