:root {
    --color-light: green;
    --color-contrast: rgb(123, 255, 0);
    --background: white;

}

body {
    background: linear-gradient(to right top, var(--color-dark), var(--color-light));
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    width: 100vw;
    font-family: Helvetica, sans-serif;
}

body > * {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}